*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    margin: 0;
    background: aliceblue;
    padding: 0 2rem;
}

#produkty{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.produkt{
    width: 550px;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
}

.produkt img{
    width: 100px;
    height: 100px;
}

.produkt p{
    font-size: 24px;
    font-weight: 500;
}

.produkt .produkt-header{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.produkt input[type="number"]{
    width: 80px;
    height: 40px;
    font-size: 24px;
}

input[type="submit"]{
    background: dodgerblue;
    width: 8rem;
    height: 3rem;
    border: none;
    border-radius: 10px;
}

input[type="submit"]:hover{
    filter: brightness(1.1);
    cursor: pointer;
}